[user]
	name = sailorfe
  email = sailorfe@noreply.codeberg.org
	signingkey = /home/sailorfe/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[color]
	ui = true
[core]
	pager = more
[gpg]
	format = ssh
[commit]
	gpgsign = true
